#login-wrapper{
    z-index: 10;
    border-radius: 15px;
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    background: linear-gradient(to bottom right, rgb(140, 140, 230), pink);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input{
    color: white;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    padding-left: 25px;
    float: right;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    border-style: none;
    height: 40px;
    width: 400px;
    margin: 15px;
    font-weight: bold;
}

#login-label{
    font-family: 'Poppins';
}

a{
    text-decoration: none;
    font-family: "Poppins";
    padding: 0px 0px 0px 0px;
}

.button{
    border: 0;
    display:block;
    margin: 15px;
    height: 40px;
    width: 90px;
    border-radius: 16px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    font-weight: bold;
    letter-spacing: 0.2px;
    text-decoration: none;
    font-family: "Poppins";
}

.button:hover{
    cursor: pointer;
}

.form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav-bar{
    overflow: hidden;
}


.nav-right{
    float: right;
}

.nav-bar a{
    color: black;
    text-decoration: none;
    float: left;
    padding: 14px 60px;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: "Poppins";
}


.home-content-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: lightblue;
    overflow: auto;
    justify-content: center;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 900px;    
    margin: auto;
    background: linear-gradient(to bottom right, rgb(140, 140, 230), pink);
    border-radius: 15px;
}

#question-start{
    position: relative;
    width: 150px;
}

.img-wrap{
    background-image: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.button-slogan{
    position: relative;
    text-decoration: none;
    font-family: "Poppins";
    width: 500px;
    font-weight: bold;
}
 
.content{
    padding-left: 50px;
}

.welcome-message{
    font-size: 50px;
    font-weight: lighter;
    display: inline-block;
    position: relative;
    padding-left: 60px;
    margin-top: 30px;
    font-family: "Poppins";
    filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.1));
}

.welcome-subtext{
    position: relative;
    margin-left: 65px;
    padding-bottom: 30px;
    font-size: 15px;
    font-weight: 10;
    font-family: "Poppins";
    color: slategray;
}

.arrow-down{
    display: flex;
    position: relative;
    top: 120px;
    left: 50%;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    font-size: 30px;
    background: linear-gradient(to bottom right, rgb(140, 140, 230), pink);
    border-radius: 50%;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

#form-icon{
    font-size: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    color: black !important;
}

.form-icon-wrapper{
    text-align: center;
    display: inline-block;
    border-right: 1px solid black;
    padding-right: 30px;
    width: 200px;
    font-size: 10px;
    font-family: "Poppins";
    color: darkslategrey;
}

.heart-icon-wrapper{
    text-align: center;
    display: inline-block;
    border-right: 1px solid black;
    padding-right: 30px;
    padding-left: 30px;
    width: 200px;
    font-size: 10px;
    font-family: "Poppins";
    color: darkslategrey;
}

.message-icon-wrapper{
    text-align: center;
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    width: 200px;
    font-size: 10px;
    font-family: "Poppins";
    color: darkslategrey;
}

#heart-icon{
    font-size: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    color: black !important;
}

#message-icon{
    font-size: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    color: black !important;
}

.home-stats-wrapper{
    margin-top: 80px;
    padding-top: 30px;
    justify-content: center !important;
    align-items: center !important;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    background-color: rgb(245, 245, 245);
}

.bracket-section{
    display: flex;
    top: 50%;
    left: 50%;
    justify-content: center !important;
    align-items: center !important;
}

.bracket-section-header{
    font-size: 45px;
    padding-bottom: 20px;
    display: flex;
    top: 50%;
    left: 50%;
    justify-content: center !important;
    align-items: center !important;
    font-family: "Poppins";
}


/* PROFILE SECTION */

.profile-wrapper{
    margin-top: 50px;
}

.profile-account-info{
    display: inline-block;
    font-family: "Poppins";
    margin-left: 50px;
    font-size: 40px;
}

.profile-picture{
    display: inline-block;
    height: 250px;
    width: 250px;
    background-color: black;
    border-radius: 50%;
}