<!DOCTYPE html>
    <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
</head>
<body>
    <div id="login-wrapper">
        <form class="form" th:action="@{/login}" method="post" autocomplete="off">
            <input placeholder="Username" id="user-login" class="input" type="text" name="username" required>
            <input placeholder="Password" id="password-login" class="input" type="password" name="password" required>
            <button class="button" type="submit">Login</button>
        </form>
        <a href="register">
            <button class="button">Register</button>
        </a>
        <label id="login-label"> Don't have an account? </label>

    </div>
</body>
</html>