<!DOCTYPE html>
<html xmlns:th="https//www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
    <title>Questionnaire</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
</head>
<body>
    <div class="nav-bar">
        <a class="active" href="dashboard" onClick="reload">Home</a>
        <a href="profile">Profile</a>
        <a href="login">Logout</a>
        <div class="nav-right">
            <a href="https://github.com/Steve-T-Pham/CWRU-dating-website" target="_blank"><i class="fa-brands fa-square-github"></i></a>
        </div>
    </div>
    
    <div class="questionnaire-wrapper">
        <form>
            <label for="fname">First Name:</label>
            <input type="text" name="fname"><br><br> 
            <label for="lname">Last Name:</label>
            <input type="text" name="lname"><br><br> 
            <label for="major">Major:
                <select name="major">
                    <option value="" disabled selected>Select your major...</option>
                    <option value="Accountancy"> Accountancy</option>
                    <option value="Accounting"> Accounting</option>
                    <option value="Aerospace Engineering"> Aerospace Engineering</option>
                    <option value="Ancient Near Eastern and Egyptian Studies"> Ancient Near Eastern and Egyptian Studies</option>
                    <option value="Anesthesia"> Anesthesia</option>
                    <option value="Anthropology"> Anthropology</option>
                    <option value="Applied Mathematics"> Applied Mathematics</option>
                    <option value="Art Education"> Art Education</option>
                    <option value="Art History and Museum Studies"> Art History and Museum Studies</option>
                    <option value="Art History"> Art History</option>
                    <option value="Asian Studies"> Asian Studies</option>
                    <option value="Astronomy"> Astronomy</option>
                    <option value="Biochemistry"> Biochemistry</option>
                    <option value="Bioethics and Medical Humanities"> Bioethics and Medical Humanities</option>
                    <option value="Bioethics"> Bioethics</option>
                    <option value="Biology"> Biology</option>
                    <option value="Biomedical and Health Informatics"> Biomedical and Health Informatics</option>
                    <option value="Business Administration"> Business Administration</option>
                    <option value="Business Analytics and Intelligence"> Business Analytics and Intelligence</option>
                    <option value="Biomedical Engineering">Biomedical Engineering</option>
                    <option value="Chemical Biology"> Chemical Biology</option>
                    <option value="Chemistry"> Chemistry</option>
                    <option value="Chinese"> Chinese</option>
                    <option value="Civil Engineering"> Civil Engineering</option>
                    <option value="Classics">Classics</option>
                    <option value="Cognitive Science">Cognitive Science</option>
                    <option value="Computer Engineering">Computer Engineering</option>
                    <option value="Dance">Dance</option>
                    <option value="Computer Science">Computer Science</option>
                    <option value="Dance">Dance</option>
                    <option value="Data Science and Analytics">Data Science and Analytic</option>
                    <option value="Economics">Economics</option>
                    <option value="Electrical Engineering">Electrical Engineering</option>
                    <option value="Engineering Physics">Engineering Physicg</option>
                    <option value="English">English</option>
                    <option value="Evolutionary Biology">Evolutionary Biology</option>
                    <option value="Environmental Geology">Evolutionary Geology</option>
                    <option value="Environmental Studies">Environmental Studies</option>
                    <option value="Evolutionary Biology">Evolutionary Biology</option>
                    <option value="French">French</option>
                    <option value="General Engineering">General Engineering</option>
                    <option value="Geological Science">Geological Science</option>
                    <option value="German">German</option>
                    <option value="Gerontological Studies">Gerontological Studies</option>
                    <option value="History and Philosophy of Science">History and Philosophy of Science</option>
                    <option value="International Studies">International Studies</option>
                    <option value="Japanese Studies">Japanese Studies</option>
                    <option value="Material Science and Engineering">Material Science and Engineering</option>
                    <option value="Mathematics and Physics">Mathematics and Physics</option>
                    <option value="Mathematics">Mathematics</option>
                    <option value="Military Ethics">Military Ethics</option>
                    <option value="Music Education">Music Education</option>
                    <option value="Music">Music</option>
                    <option value="Natural Sciences"> Natural Sciences</option>
                    <option value="Neuroscience">Neuroscience</option>
                    <option value="Nursing">Nursing</option>
                    <option value="Nutrition"> Nutrition</option>
                    <option value="Nutritional Biochemistry and Metabolism">Nutritional Biochemistry and Metabolisme</option>
                    <option value="Origins Science">Origins Science</option>
                    <option value="Philosophy">Philosophy</option>
                    <option value="Physics">Physics</option>
                    <option value="Political Science">Political Science</option>
                    <option value="Polymer Science and Engineering"> Polymer Science and Engineering</option>
                    <option value="Religious Studies">Religious Studies</option>
                    <option value="Sociology">Sociology</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Statistics">Statistics</option>
                    <option value="Systems and Control Engineering">Systems and Control Engineering</option>
                    <option value="Systems Biology">Systems Biology</option>
                    <option value="Teacher Education">Teacher Educatioe</option>
                    <option value="Theater Arts">Theater Arts</option>
                    <option value="Women's and Gender Studies">Women's and Gender Studies</option>
                    <option value="World Literature">World Literature</option>
                    <option value="Others">Others</option>
                </select>
            </label><br><br>
            <label for="age">Age:</label>
            <input type="number" name="age" min="18"><br><br>

            <!--Season question-->
            <label for="season">1. What is your favorite season?</label><br>
            <input type="radio" name="season" value="Spring" id="seasonq1">
            <label for="seasonq1">Spring</label><br>
            <input type="radio" name="season" value="Summer" id="seasonq2">
            <label for="seasonq2">Summer</label><br>
            <input type="radio" name="season" value="Fall" id="seasonq3">
            <label for="seasonq3">Fall</label><br>
            <input type="radio" name="season" value="Winter" id="seasonq4">
            <label for="seasonq4">Winter</label><br><br>

            <!-- Favorite subject-->
            <label for="subject">2. What is your favorite subject?</label><br>
            <input type="radio" name="subject" value="Math" id="subjectq1">
            <label for="subjectq1">Math</label><br>
            <input type="radio" name="subject" value="English" id="subjectq2">
            <label for="subjectq2">English</label><br>
            <input type="radio" name="subject" value="Science" id="subjectq3">
            <label for="subjectq3">Science</label><br>
            <input type="radio" name="subject" value="History" id="subjectq4">
            <label for="subjectq4">History</label><br><br>

            <!-- Slang-->
            <label for="slang">3. What is your gen z slang?</label><br>
            <input type="radio" name="slang" value="Bet" id="slangq1">
            <label for="slangq1">Bet</label><br>
            <input type="radio" name="slang" value="Nocap" id="slangq2">
            <label for="slangq2">No cap</label><br>
            <input type="radio" name="slang" value="Hitsdifferent" id="slangq3">
            <label for="slangq3">Hits different</label><br>
            <input type="radio" name="slang" value="Vibing" id="slangq4">
            <label for="slangq4">Vibing</label><br>
            <input type="radio" name="slang" value="lowkeyhighkey" id="slangq5">
            <label for="slangq5">Low-key/High-key</label><br><br>

            <!--Music genre-->
            <label for="music">4. What is your favorite music genre?</label><br>
            <input type="radio" name="music" value="Pop" id="musicq1">
            <label for="musicq1">Pop</label><br>
            <input type="radio" name="music" value="Country" id="musicq2">
            <label for="musicq2">Country</label><br>
            <input type="radio" name="music" value="Hip-Hop" id="musicq3">
            <label for="musicq3">Hip-Hop</label><br>
            <input type="radio" name="music" value="Classical" id="musicq4">
            <label for="musicq4">Classical</label><br>
            <input type="radio" name="music" value="Rock" id="musicq5">
            <label for="musicq5">Rock</label><br><br>

            <!-- Soical Media platform-->
            <label for="socialmedia">5. What is your favorite social media platform?</label><br>
            <input type="radio" name="socialmedia" value="instagram" id="socialmedia1">
            <label for="socialmedia1">Instagram</label><br>
            <input type="radio" name="socialmedia" value="tiktok" id="socialmedia2">
            <label for="socialmedia2">Tik Tok</label><br>
            <input type="radio" name="socialmedia" value="facebook" id="socialmedia3">
            <label for="socialmedia3">Facebook</label><br>
            <input type="radio" name="socialmedia" value="twitter" id="socialmedia4">
            <label for="socialmedia4">Twitter</label><br>
            <input type="radio" name="socialmedia" value="snapchat" id="socialmedia5">
            <label for="socialmedia5">Snapchat</label><br>
            <input type="radio" name="socialmedia" value="linkedln" id="socialmedia6">
            <label for="socialmedia6">Linkedln</label><br><br>

            <!-- Moive -->
            <label for="movie">6. What is your favorite movie genre?</label><br>
            <input type="radio" name="movie" value="Romance" id="movie1">
            <label for="movie1">Romance</label><br>
            <input type="radio" name="movie" value="Scifi" id="movie2">
            <label for="movie2">Sci-fi</label><br>
            <input type="radio" name="movie" value="Adventure" id="movie3">
            <label for="movie3">Adventure</label><br>
            <input type="radio" name="movie" value="Anime" id="movie4">
            <label for="movie4">Anime</label><br>
            <input type="radio" name="movie" value="Comedy" id="movie5">
            <label for="movie5">Comedy</label><br>
            <input type="radio" name="movie" value="Horror" id="movie6">
            <label for="movie6">Horror</label><br><br>

            <!-- Battery -->
            <label for="battery">7. What is your favorite social media platform?</label><br>
            <input type="radio" name="battery" value="zeroten" id="battery1">
            <label for="battery1">0 - 10%</label><br>
            <input type="radio" name="battery" value="twentyforty" id="battery2">
            <label for="battery2">20 - 40%</label><br>
            <input type="radio" name="battery" value="fifty" id="battery3">
            <label for="battery3">50%</label><br>
            <input type="radio" name="battery" value="sixtyseventy" id="battery4">
            <label for="battery4">60 - 70%</label><br>
            <input type="radio" name="battery" value="eightyhundred" id="battery5">
            <label for="battery5">80 - 100%</label><br><br>

            <!-- Bedtime-->
            <label for="bedtime">7. When is your bedtime (choose the one that is closest)?</label><br>
            <input type="radio" name="bedtime" value="nineten" id="bedtime1">
            <label for="bedtime1">9pm - 10pm</label><br>
            <input type="radio" name="bedtime" value="eleventwele" id="bedtime2">
            <label for="bedtime2">11pm - 12pm</label><br>
            <input type="radio" name="bedtime" value="onethree" id="bedtime3">
            <label for="bedtime3">1am - 3am</label><br>
            <input type="radio" name="bedtime" value="foursix" id="bedtime4">
            <label for="bedtime4">4am - 6am</label><br>
            <input type="radio" name="bedtime" value="aftersunrise" id="bedtime5">
            <label for="bedtime5">after sunrise</label><br><br>

            <!-- procastinator-->
            <label for="procastinator">8. What is your favorite social media platform?</label><br>
            <input type="radio" name="procastinator" value="yes" id="procastinator1">
            <label for="procastinator1">Yes, ALL THE WAY</label><br>
            <input type="radio" name="procastinator" value="no"" id="procastinator2">
            <label for="procastinator2">No I don’t like delaying work till the last minute</label><br>
            <input type="radio" name="procastinator" value="sometimes" id="procastinator3">
            <label for="procastinator3">Sometimes</label><br>
            <input type="radio" name="procastinator" value="often" id="procastinator4">
            <label for="procastinator4">Often</label><br>
            <input type="radio" name="procastinator" value="notreally" id="procastinator5">
            <label for="procastinator5">Not really</label><br><br>

            <!--pet-->
            <label for="pet">9. Are you a dog person or a cat person? </label><br>
            <input type="radio" name="pet" value="dog" id="pet1">
            <label for="pet1">Dog-person</label><br>
            <input type="radio" name="pet" value="cat"" id="pet2">
            <label for="pet2">Cat-person</label><br>
            <input type="radio" name="pet" value="both" id="pet3">
            <label for="pet3">Both</label><br>
            <input type="radio" name="pet" value="others" id="pet4">
            <label for="pet4">Others</label><br>
            <input type="radio" name="pet" value="dislike" id="pet5">
            <label for="pet5">I DON'T LIKE ANIMALS AT ALL!</label><br><br>

            <!--attract-->
            <label for="attract">10. Would you like to have a physically attractive body or a sexy big brain? </label><br>
            <input type="radio" name="attract" value="hotbody" id="attract1">
            <label for="attract1">Hot Body honey</label><br>
            <input type="radio" name="attract" value="bigbrain"" id="attract2">
            <label for="attract2">BIG bRaIN</label><br>
            <input type="radio" name="attract" value="both" id="attract3">
            <label for="pet3">BOTH, of course</label><br>
            <input type="radio" name="attract" value="whatever" id="attract4">
            <label for="pet4">Whatever</label><br><br>

            <!-- Preference-->
            <label for="prefer">10. Would you rather your partner be rich and cocky or broke and a sweetheart?</label><br>
            <input type="radio" name="prefer" value="rich" id="prefer1">
            <label for="prefer1">RICH I only care about being a rich wife/husband</label><br>
            <input type="radio" name="prefer" value="sweetheart"" id="prefer2">
            <label for="prefer2">I just want someone to care about ME</label><br>
            <input type="radio" name="prefer" value="both" id="prefer3">
            <label for="prefer3">Why can't I get both?</label><br><br>

            <!--Secret-->
            <label for="secret">9. Would you rather have a secret life behind your partner's back?</label><br>
            <input type="radio" name="secret" value="yes" id="secret1">
            <label for="secret1">A secret makes a woman, woman </label><br>
            <input type="radio" name="secret" value="no"" id="secret2">
            <label for="secret2">We should share everything with our partner</label><br>
            <input type="radio" name="secret" value="maybe" id="secret3">
            <label for="secret3">I go with the flow</label><br>
            <input type="radio" name="secret" value="others" id="secret4">
            <label for="secret4">Depends on the stories/partners</label><br><br>

            <div>
                <button type="submit" id="question">Submit!!</button>
            </div>
        </form>
    </div>
</body>
</html>