
<!DOCTYPE html>
<html xmlns:th="https//www.thymeleaf.org">
<head>
    <title> CWRU Dating Sign-Up From</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/stylesheet2.css" media = "all"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script scr="feature.js"></script>
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>CWRU Dating Sign-Up Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form th:action="@{/process_register}" action="accountInsert.php" method="post" th:object="${user}">

                    <div>
                        <label for="username"> Username: </label>
					    <input type="text" id="username" name="username" placeholder="Username" th:field="*{username}" required>
                    </div>
                    <div>
                        <label for="firstName"> First Name: </label>
                        <input type="text" id="firstName" name ="firstName" placeholder="First Name" th:field="*{firstName}" required>
                    </div>

                    <div>
                        <label for="lastName"> Last Name: </label>
                        <input type="text" id= "lastName" name="lastName" placeholder="Last Name" th:field="*{lastName}" required>
                    </div>

                    <div>
                        <label for="email"> Case ID:</label>
                        <input type="email" id ="email" name="email"placeholder = "@case.edu" th:field="*{email}" required>
                    </div>
                    <div>
                        <label for="password"> Password: </label>
                        <input type="password" id ="pass" name ="password" placeholder="Password" minlength ="8" th:field="*{password}" required> 
                        <i class="show fa fa-eye"></i>
		                <i class="hide fa fa-eye-slash"></i>

                    </div>
                    <div>
                        <label for="re-password"> Repeated Password: </label>
                        <input id = "re-pass" type="password" placeholder="RepeatedPassword" required="">
                        <i class="show fa fa-eye"></i>
		                <i class="hide fa fa-eye-slash"></i>

                    </div>
					
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div>
					<button type="submit">Sign Up</button>
				</form>
				<p> Have an Account? <a href="login">Login Now!</a> </p>
			</div>
		</div>
	</div>
</body>
</html>