<!DOCTYPE html>
    <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
</head>
<body>
    <div th:text="${personalQuestionnaire.q1_A}"></div>
    <div th:text="${personalQuestionnaire.q2_A}"></div>
    <div th:text="${personalQuestionnaire.q3_A}"></div>
    <div th:text="${personalQuestionnaire.q4_A}"></div>
    <div th:text="${personalQuestionnaire.q5_A}"></div>
    <div th:text="${personalQuestionnaire.q6_A}"></div>
    <div th:text="${personalQuestionnaire.q7_A}"></div>
    <div th:text="${personalQuestionnaire.q8_A}"></div>
    <div th:text="${personalQuestionnaire.q9_A}"></div>
    <div th:text="${personalQuestionnaire.q10_A}"></div>
    <div th:text="${personalQuestionnaire.q11_A}"></div>
</body>
</html>